* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

body {
    background-color: rgb(243, 243, 243);
    margin: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.second-face {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login{
    border: 1px solid rgb(204, 204, 204);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.nome-ig {
    margin-top: 30px;
    margin-bottom: 20px;
    height: 50px;
}

.perfil-ig{
    height: 150px;
    border-radius: 100%;
    margin-bottom: 20px;
}

.one {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 3px;
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
}

.two {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 3px;
    background-color: rgb(243, 243, 243);
    margin-bottom: 10px;
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
}

.three{
    border: 1px solid rgb(0, 162, 255);
    border-radius: 3px;
    background-color: rgb(160, 220, 255);
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration-color: #fff;
    width: 250px;
    height: 25px;
    display: flex;
    align-items: center;
}

.four {
    margin-bottom: 20px;
}

.five {
    margin-bottom: 20px;
}

.six {
    margin-bottom: 30px;
}

.logoff {
    border: 1px solid rgb(204, 204, 204);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
}

.logoff-on {
    margin-top: 30px;
    margin-bottom: 30px;
}

.download {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.observation {
    margin-bottom: 10px;
}

.app-store { 
    height: 45px;
}

.google-play {
    height: 45px;
}